*
{
  margin: 0;
padding: 0;  
}
.fundo
{
  background-image: linear-gradient(rgb(8, 253, 192), rgb(14, 14, 14));
  height: 100vh;
  color: azure;
  font-family: 'Arial', Helvetica, sans-serif;
  text-align: center;
}
.calculadora
{
  position:absolute ;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  padding: 15px;

}
.botao
{
  width: 50px;
  height: 50px;
font-size: 25px;
cursor: pointer;
margin: 7px;
background-color: rgb(31, 31, 31);
border: none;
color: #ffff;
}
.botao:hover
{
  background-color: black;
}
#botao:hover{
  background-color: rgb(139, 5, 5);
}
#resultado
{
  background-color: white;
  width: 250px;
  height: 30px;
  margin: 7px;
  font-size: 25px;
  color: black;
  text-align: right;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}
#del
{
 font-size: 25px;
}
@media screen and (max-width:768px){
  body{
    background-image: linear-gradient(rgb(253, 253, 253), rgb(255, 0, 0));
    background: no-repeat;
    width: 100%;
    padding: 0;
    border: 0;
  }
}
@media screen and (max-width:600px){
  body{
    background-image: linear-gradient(rgb(253, 253, 253), rgb(255, 0, 0));
    background: no-repeat;
    width: 100%;
    border: 0;
    padding: 0;
  }
}
#botao
{
  background-color: red;
}
